steps:
- uses: actions/checkout@master
- uses: codecov/codecov-action@v3
  with:
    flags: unittests # optional
    name: codecov-umbrella # optional
    fail_ci_if_error: false # optional (default = false)
    verbose: true # optional (default = false)